*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body
{
    background: rgb(229,224,208);

}
nav{
    position: fixed;
    background: rgb(229,224,208);
    height: 130px;
    width: 100%; 
    z-index: 2000;
}

.enlace{
    position: absolute;
    padding: 0px 50px;
}

img.logoLaualuIndex{
    height: 127px;
    margin-bottom: 30px;
}

nav ul
{
    float: right;
    margin-right: 20px;
}

nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 20px 5px;
}

nav ul li a
{
    color: #625F40;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;

}

li a.active
{
    background: #625F40;
    transition: .5s;
    color: rgb(229,224,208);
}
li a:hover
{
    background: #625F40;
    transition: .5s;
    color: rgb(229,224,208);
}

.checkbtn
{
    font-size: 30px;
    color: #625F40;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/*.videoIndex video para página studio
{
    width: 100%;
    margin-top: 130px;
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: -50;
}*/



.container
{
padding-top: 50px;
padding-left: 30px;
padding-right: 30px;
}


hr
{
    margin-top: 70px;
}

h3.titulo{
    font-size: 40px;
    color: #4B493C;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
}
p.contenido
{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #364A21;
    

}

p.contenidoleft
{
    font-size: 20px;
    line-height: 30px;
     text-align: center;
    color: #364A21;

}
img.imgContenido{
    
    float: right;
    width: 400px;
    margin-top: 105px;
    margin-left: 30px;
    
}

img.imgContenidoleft{
    
    float: left;
    width: 400px;
    margin-top: 105px;
    margin-right: 30px;
    
}

.boton {
    border: none;
    background: none;
    cursor: pointer;
  }
  
.boton span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    text-transform: uppercase;
    z-index: -15;
  }
  
.boton fa fa-long-arrow-right {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
.boton:hover fa fa-long-arrow-right {
    transform: translateX(0);
  }
  

  
.hover-underline-animation {
    position: relative;
    color: #4B493C;
    padding-bottom: 20px;
    font-weight: 600;
  }
  
.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E59D23;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.boton:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

div.botonFlecha{
    text-align: center;
    margin-top: 30px;
}


section.clientes
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}

.clientes .card
{
    position: relative;
    max-width: 350px;
    height: 180px;
    background-color: rgb(229,224,208);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
   transition: 0.3s ease-in-out;
   text-align: center;
   border-radius: 25px;

}

.clientes .card:hover{
    height: 550px;
    background-color: #625F40;
}
.stars
{
    margin-bottom: 10px;
}
.clientes .card .imgBx
{
    position: relative;
    width: 150px;
    left: 85px;
}

.clientes .card .contenidoCard
{
    position: relative;
    text-align: center;
    color: rgb(229,224,208);
    line-height: 30px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.clientes .card:hover .contenidoCard
{
    visibility: visible;
    opacity: 1;

    transition-delay: 0.3s;
}

.clientes .card .imgBx img{
    max-width: 100%;
    border-radius: 50%;
    
}


footer
{
    display: flex;
    position: relative;
    width: 100%;
    background-color: #625F40;
    height: 170px;
    padding: 20px 50px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

footer .iconredsocial,
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    z-index: 2000;
}

footer .iconredsocial li,
footer .menu li
{
    list-style: none;
}

footer .iconredsocial li a
{
    color: rgb(229,224,208);
    font-size: 2em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .iconredsocial li a:hover
{
    transform: translateY(-10px);
}

footer .menu li a
{
    color: rgb(229,224,208);
    font-size: 1.2em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover
{
    opacity: 1;
}

footer p
{
    color: rgb(229,224,208);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

#check{
    display: none;
}

footer .ola{
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/ola.png);
    background-size: 1000px 100px;
}

footer .ola#ola1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0px;
    animation: animacionOla 4s linear infinite;
}

footer .ola#ola2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animacionOla2 4s linear infinite;
}


footer .ola#ola3
{
    z-index: 999;
    opacity: 0.2;
    bottom: 15px;
    animation: animacionOla 3s linear infinite;
}

footer .ola#ola4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animacionOla2 3s linear infinite;
}

@keyframes animacionOla
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animacionOla2
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 1215px){
    .checkbtn
    {
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(229,224,208);
        top: 129px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }

    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a
    {
        font-size: 20px;
    }

    li a:hover, li a.active
    {
    background: #625F40;
    color: rgb(229,224,208)C;
    }

    #check:checked ~ ul
    {
        left:0;
    }
}



@media (400px <= width <= 414px){
    img.imgContenido{
        float: center;
        width: 300px;
        margin-right: 25px;

    }
    img.imgContenidoleft{
        float: center;
        width: 300px;
        margin-left: 30px;

    }
    footer .iconredsocial{
        margin-left: 620px;
        background-color: #625F40;
        z-index: 0;
    }
    ul.menu{
        margin-bottom: 120px;
        margin-left: 625px;
        background-color: #625F40;
        z-index: 0;
    }
    ul.menu li
    {
        font-size: 12px;
    }
    .clientes .card .imgBx
    {
        left: 75px;
    }
}

@media (380px <= width <= 400px){
    img.imgContenido{
        float: center;
        width: 300px;
        margin-right: 10px;

    }
    img.imgContenidoleft{
        float: center;
        width: 300px;
        margin-left: 20px;

    }
    footer .iconredsocial{
        margin-left: 580px;
        background-color: #625F40;
        z-index: 0;
    }
    ul.menu{
        margin-bottom: 120px;
        margin-left: 580px;
        background-color: #625F40;
        z-index: 0;
    }
    ul.menu li
    {
        font-size: 12px;
    }
    .clientes .card .imgBx
    {
        left: 65px;
    }
}

@media (350px <= width <= 375px){
    img.imgContenido{
        float: center;
        width: 300px;
        margin-right: 5px;

    }
    img.imgContenidoleft{
        float: center;
        width: 300px;
        margin-left: 14px;

    }
    footer .iconredsocial{
        margin-left: 550px;
        background-color: #625F40;
        z-index: 0;
    }
    ul.menu{
        margin-bottom: 120px;
        margin-left: 550px;
        background-color: #625F40;
        z-index: 0;
    }
    ul.menu li
    {
        font-size: 12px;
    }
    .clientes .card .imgBx
    {
        left: 55px;
    }
}
@media (650px <= width <= 768px){

    footer .iconredsocial{
        margin-left: 1340px;
        background-color: #625F40;
        z-index: 0;
    }
    ul.menu{
        margin-bottom: 120px;
        margin-left: 1340px;
        background-color: #625F40;
        z-index: 0;
    }
    ul.menu li
    {
        font-size: 12px;
    }
}
@media (769px <= width <= 820px){

    footer .iconredsocial{
        margin-left: 1440px;
        background-color: #625F40;
        z-index: 0;
    }
    ul.menu{
        margin-bottom: 120px;
        margin-left: 1440px;
        background-color: #625F40;
        z-index: 0;
    }
    ul.menu li
    {
        font-size: 12px;
    }
}

/* CSS Laureano */
#studio-content {
    display: flex;
    width: auto;
    padding-top: 12%;
}
#studio-video {
    float: left;
    width: 90%;
    height: 100%;
}
#studio-p {
    float: right;
    max-width: 45%;
    border-radius: 3rem;
}